* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  background-image: url(../images/bamboo-whisk-bowls-color-461428.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}
h1 {
  display: block;
  color: $color5;
  text-align: center;
  background-color: $color2;
  border: 1px solid $border-color;
  max-width: 450px;
  margin: 10px auto 0 auto;
  padding: 10px;
  border-radius: 20px 20px 0 0;
  span {
    font-family: $heading-font;
    font-weight: 500;
  }
}
.board {
  color: $board-color;
  background-color: $board-bg-color;
  border: 1px solid $border-color;
  padding: 20px;
  display: block;
  min-height: 500px;
  button {
    padding: 5px;
    border: none;
    box-shadow: none;
    border: 1px solid $border-color;
    background-color: $button-bg-color;
    border-radius: 10px;
    color: $button-color;
    transition: background-color linear 0.2s, color linear 0.2s;
    box-shadow: 2px 2px 3px $shadow-color;
    font-family: $button-font;
    text-transform: lowercase;
    font-size: 20px;
    &:hover {
      background-color: $button-bg-hover-color;
      cursor: pointer;
    }
  }
  .create-column {
    display: block;
    width: 150px;
    margin: 0 auto 10px auto;
    &:before {
      content: "+";
      float: left;
    }
  }

  .column-container {
    display: flex;
    flex-wrap: wrap;
    > div {
      display: flex;
      flex: 1 1 calc(100% / 3);
      padding: 10px;
      min-height: 400px;
      .column {
        border: 1px solid $border-color;
        border-radius: 20px 20px 0 0;
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1 1 100%;
        height: 100%;
        background-color: $column-bg-color;
        padding-bottom: 20px;
        overflow: hidden;
        box-shadow: 5px 5px 8px $shadow-color;
        background-image: linear-gradient(20deg, $color3, $column-bg-color);
        h2 {
          background-color: $color2;
          text-align: center;
          color: $color5;
          padding: 5px;
          font-family: $heading-font;
          font-weight: 500;
        }
        .btn-delete {
          display: inline-block;
          height: 22px;
          width: 22px;
          line-height: 6px; 
          padding: 0 2px 2px 2px;
          position: absolute;
          vertical-align: middle;
          right: 8px;
          top: 8px;
          font-size: 18px;
        }
        .add-card {
          width: 150px;
          margin: 10px auto 0 auto;
          order: 1;
          position: relative;
          &:before {
            content: "+";
            float: left;
          }
        }
        .column-card-list {
          order: 2;
          display: flex;
          flex-direction: column;
          list-style: none;
          min-height: 80%;
          li {
            background-color: $card-bg-color;
            border: 1px solid $border-color;
            margin: 20px;
            position: relative;
            min-height: 50px;
            padding: 10px;
            box-shadow: 5px 5px 5px $shadow-color;
            border-radius: 0 10px 0 10px;
            font-family: $card-font;
            font-weight: 300;
            font-size: 20px;
            &:hover {
              cursor: grab;
            }
            > .btn-delete {
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .board .column-container {
    flex-wrap: wrap;
    > .column-wrapper {
      flex: 0 0 100%;
    }
  }
}

// @for $i from 1 through 12 {
//    .col-#{$i} {
//      $width: 100% / 12 * $i;
//      flex: 0 0 $width;
//      max-width: $width;
//    }
//  }
//  @mixin grid($prefix) {
//    @for $i from 1 through 12 {
//      .col-#{$prefix}-#{$i} {
//        $width: 100% / 12 * $i;
//        flex: 0 0 $width;
//        max-width: $width;
//      }
//    }
//  }
//

//
//
//@include grid('xs');
//@include grid('sm');
//@include grid('md');
//@include grid('lg');
//@include grid('xl');
//

// Variables
// $body-background-color: #f5f5f2;
//
// ===================
// Classic Flex for Sass
//.row {
//    width: 100%;
//    &::before,
//    &::after {
//      content: "";
//      display: table;
//      clear: both;
//    }
//
//    [class*="col-"] {
//      float: left;
//    }
//
//    @for $i from 1 through 12 {
//      .col-#{$i},
//      .col-offset-#{$i} {
//        $width: 100% / 12 * $i;
//        width: $width;
//      }
//    }
//  }
