$color1: #2e1f27;
$color2: #854d27;
$color3: #f4c95d;
$color4: #e9e8d8;
$color5: #dfe299;
$color6: #e6e6e6;
$color7: #e5d5bfaf;

$border-color: $color1;

$board-color: $color1;
$board-bg-color: $color7;

$column-color: $color1;
$column-bg-color: $color4;

$card-color: $color1;
$card-bg-color: $color5;

$button-color: $color1;
$button-bg-color: $color6;
$button-hover-color: $color1;
$button-bg-hover-color: lightgrey;

$shadow-color: #6d6d6d;

$card-font: 'Kalam', cursive;
$heading-font: 'Shojumaru', cursive;
$button-font: 'Boogaloo', cursive;
